<div class="p-2 text-white rounded-lg bg-slate-600">
    <a class="text-blue-300 underline" href={"http://localhost:5000/#{@user}"}>
        <%= @user %>
    </a>
    <span>/</span>
    <a class="text-blue-300 underline" href={"http://localhost:5000/#{@user}/#{@repo}"}>
        <%= @repo %>
    </a>
</div>
