<%= for entry <- @tree_entries do %>
  <div class="flex justify-between p-2 rounded-md bg-zinc-300">
    <div>
      <%= Map.get(entry, "name") %>
    </div>
    <a href={"http://localhost:5000/commits/#{Map.get(entry, "latest_commit_id")}"} >
        <%= "#{String.slice(Map.get(entry, "latest_commit_msg"), 0..20)}" %>
        <%= #IO.puts "#{entry}" %>
    </a>
    <div>
        <%= Map.get(entry, "") %>
    </div>
  </div>
<% end %>
