<div class="flex w-screen h-screen bg-surface-700">
  <div class="grid w-24 h-full bg-surface-500">

  </div>

  <main class="px-4 py-20 w-full sm:px-6 lg:px-8">
    <div class="mx-auto max-w-8xl">
      <.flash_group flash={@flash} />
      <%= @inner_content %>
    </div>
  </main>
</div>
