<div class="flex w-screen h-screen bg-surface-900">
  <div class="w-24 bg-surface-700 grid h-full">

  </div>

  <main class="px-4 py-20 sm:px-6 lg:px-8 w-full">
    <div class="mx-auto max-w-8xl">
      <.flash_group flash={@flash} />
      <%= @inner_content %>
    </div>
  </main>
</div>
